<!doctype html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - CS340 Flask Example</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {% for myscript in jsscripts %}
    <script src="/static/{{myscript}}"></script>
    {% endfor %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style/style.css">
    <div class="topnav">
      <a href="/index">Index</a>
      <a href="/people">People</a>
      <a href="/certification">Certifications</a>
    </div>
    {% endblock %}
</head>
<body>
	 <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
