{% extends "layout.html" %}
{% block title %} People Page{% endblock %}


{% block content %}
<h2>People</h2>
<!--dynamically filled certificates, used to filter the people by the certificate they have-->
<form style="text-align:right" action = "" method = "">
  <label for="cert">Filter by Certificate:</label><br>
  <select id="cert_filter" name = "cert_filter">
    {% for cert in certs %}
    <option value="{{ cert[0] }}">{{ cert[1] }}</option>
    {% endfor %}
  </select><br>
  <!--This is handled with people.js, and filtering is done on the backend-->
  <input type="button" value = "Filter" onclick="filterPeopleByCert()">
</form>


<!--This will be a select query that shows all people here-->
<table style="width:100%">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>HomeWorld</th>
    <th>Age</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  {% for person in people %}
  <tr>
    <td>{{ person[1] }}</td>
    <td>{{ person[2] }}</td>
    <td>{{ person[3] }}</td>
    <td>{{ person[4] }}</td>
    <!--This is handled in the webapp.py file, person[0] is the id-->
    <td><button onclick="updatePerson({{ person[0] }})" >Update</button></td>

    <!--This is handled in people.js, person[0] is the id-->
    <td><button onclick="deletePerson({{ person[0] }})" >Delete</button></td>
  </tr>
  {% endfor %}
</table>
<br>


<!--form to add a new person-->
<form action = "/people" method = "POST">
  <fieldset>
  <legend>Add new person:</legend>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>
  <label for="world">Homeworld:</label>
  <select id="hworld" name="hworld">
    <option value="3">Caprica</option>
    <option value="2">Leonis</option>
    <option value="21">Tauron</option>
    <option value="1">Gemenon</option>
  </select><br>
  <label for="age">Age: </label>
  <input type="number" id="age" name="age" min="1" max="150"><br>

  <label for="cert">Choose certification/s:</label><br>
  <!--This is dynamically populated with all availble certifications-->
  <select id="cert" name="cert" multiple>
    {% for cert in certs %}
    <!--The option value is the certification_id, but the name is displayed-->
    <option value="{{ cert[0] }}">{{ cert[1] }}</option>
    {% endfor %}
  </select><br>
  <input type="submit">
</fieldset>
</form>
{% endblock %}
